@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@layer components {
  /* Custom Scrollbar Styles */
  ::-webkit-scrollbar {
    width: 0px;
  }
}

@theme {
  --color-bgPrimary: #1a1a1a;
  --color-bgSecondary: #232323;
  --color-txtPrimary: #ffffff;
  --color-txtSecondary: #B3B3B3;
  --color-accentPrimary: #4CAF50;
  --color-accentSecondary: #EED8A4;
  --color-border: #292929;
  --font-header: "Playfair Display";
  --font-lora: "Lora";
  --font-text: "Space Grotesk";
}

@layer base{
  html{
    scrollbar-gutter: stable;
    @apply w-[100%] h-lvh bg-bgPrimary
  }

  a,button{
    @apply cursor-pointer
  }

  h1, h2 {
    @apply font-header text-txtPrimary
  }

  h3{
    @apply font-lora text-txtSecondary
  }

  p{
    @apply font-text text-txtSecondary
  }

  .visible-scrollbar{
    scrollbar-width: 2;
    scrollbar-color: #232323;
  }

  .landing-section3-grid{
    @apply px-8 my-8 grid grid-cols-2 gap-2
    lg:grid-cols-4 lg:grid-rows-3
    xl:mx-20 
  }

  .landing-section5-grid{
    @apply px-8 my-8 grid grid-cols-1 gap-2
    lg:grid-cols-3 lg:grid-rows-8
    xl:mx-20 
  }

  .landing-section7-grid{
    @apply px-8 my-8 grid grid-cols-1 gap-4
    lg:grid-cols-2 lg:grid-rows-2
    xl:mx-20 xl:grid-cols-5
  }

  .clip-path {
    clip-path: polygon(0% 0%, 100% 0%, 100% 58.5%, 60.3% 58.5%, 60.3% 99.8%, 0% 100%, 0% 85%, 0% 15%);
  }

}